.profile {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: var(--color-white);
  overflow: hidden;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);

  transition: box-shadow 250ms var(--timing-function);
}

.profile:hover {
  box-shadow: 0px 0px 10px 1px rgba(33, 148, 242, 0.3);
}

.description {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatarCover {
  width: 160px;
  min-width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 6px 1px rgba(33, 148, 242, 0.3);
  transition: transform 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
  margin-bottom: 26px;
}

.avatarCover:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 1px rgba(33, 148, 242, 0.3);
}

.avatar {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.name {
  composes: title;
  margin-bottom: 10px;
}

.text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.tag {
  composes: text;
  margin-bottom: 6px;
}

.location {
  composes: text;
}

/* ------------------- stats ------------ */
.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 26px 10px;
  background-color: rgba(33, 148, 242, 0.3);
  border-top: 1px solid var(--gray-color);
  /* background-color: rgba(#2094f3, 0.5); */
}

.item:not(:last-child) {
  border-right: 1px solid var(--gray-color);
}

.label {
  composes: text;
  font-size: 16px;
}
.quantity {
  composes: title;
  font-size: 20px;
}
